/* body{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100vh;
} */
.viewport{
  display:flex;
  align-items: center;
  position:relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dots{
  position:absolute;
  width: 45px;
  right:20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.dots-item{
  position:relative;
  z-index:2;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-top: 8px;
  background: black;
  cursor:pointer;
}
.dots-item:hover{
    background:white;
}
.dots-item.active{
  background: blue;
}
.slider{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  transition: transform .5s ease-in-out;
  will-change:transform;
}
.slider-item{
  width: 100%;
  min-height: 100vh;
  background:rgb(30,30,30);
}

.slider-item:nth-child(even){
  background:#EF6C00;
}

#container{
  /* height: 100vh; */
  width: 100%;
  left: 0;
background-image:url("../img/slide1.jpg")
}
.fluid{
  max-width: 100%;
  width: 100%;
  height: 100vh;
}
h1{
  color: white;
  font-size: 3rem;
  font-family: 'Helvetica',san-serif;
  position: absolute;
  top: 12%;
  left: 35%;
  transform: translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.opacity{
  opacity: -0.5;
}

.carousel-control-next:hover{
opacity: 0;
}
.carousel-control-prev:hover{
  opacity: 0;
  }

  .offer-banner {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .continuous-banner {
    overflow: hidden;
  }
  
  .banner-images {
    display: flex;
    animation: marquee 20s linear infinite;
  }
  
  .banner-images li {
    flex: 0 0 auto;
  }
  
  .banner-images img {
    max-width: 100%;
    height: auto;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .disclaimer p {
    text-align: center;
  }

  .continuous-banner .banner-images li img {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  
  .offer-popup {
    display: none;
    position: fixed;
    top: 50%;
    border: none;

    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  
  .offer-popup-content {
    padding: 20px;
    /* background-color: #fff; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    text-align: center;
  }
  
  .offer-popup-content h3 {
    margin-top: 0;
  }
  
  .offer-popup-content p {
    margin-bottom: 10px;
  }
  
  .close-btn {
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
  }

  .font-weight-bold{
    font-weight: 800;
  }

  .bg-redv{
    background-color:#f8615a;
  }
  .bg-blue{
    background-color:#5abee8;
  }
  .bg-yellow{
    background-color:#efbd49;
  }
  .bg-orange{
    background-color:#ff6c23;
  }
  .bg-green{
    background-color:#95bb04;
  }

  .bg-red{
    background-color:#e30a12;
  }
  .bg-purple{
    background-color:#be4bdb;
  }

  .bg-custom{
    color: white;
   
    padding: 30px;
    font-size: larger;

  }

  .bg-text{
    border: none;
    text-align: start;
  }

  .list-unstyled li::before {
    content: "\f00c"; /* FontAwesome checkmark icon */
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: #41B883;
    margin-right: 10px;
  }

  .list-unstyled p:last-child {
    margin-bottom: 0;
  }

  .why-us-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
  }
  .wa-green{
    color: green !important;
  }
  
 
  
